.back {
  position: absolute;
  top: 22px;
  left: 27px;
  background-color: #48386a;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.back ion-icon {
  color: #fff;
  font-size: 27px;
}
.open_close_select {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #40325d;
  border: 1px solid #fff;
}

.process_free_wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.fragment_video_download {
  position: relative;
  padding: 0 20px;
  height: 100%;
}
.save-btn {
  font-family: sans-serif;
  width: 20%;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #ffffff;
  background-color: #40325dff !important;
  border-radius: 15px;
  padding: 12px 24px;
  display: block;
  text-transform: uppercase;
}

.free_input_wrap {
  margin-bottom: 21px;
}
.free_input_wrap label {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding: 0 15px;
}
.file_input_wrap {
  width: 120px;
  border-radius: 5px;
  background-color: #6b6b6b;
  text-align: center;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

.file_input_wrap input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  opacity: 0;
}
.process_input_file {
  position: relative;
  color: #fff;
  width: 296px;
  height: 159px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1.5px solid #ffffff;
  border-radius: 20px;
  background-color: #40325d;
}
.process_input_file p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.process_input_file input {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  opacity: 0;
}
.process_free_form {
  margin-top: 25px;
  width: 60%;
  margin: 0 auto;
}
.process_free_wrap h2 {
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  padding-top: 50px;
  margin-bottom: 10px;
  color: #ffffff;
}

.process_free_form input,
.process_free_form textarea {
  width: 100%;
  border: 1.5px solid #ffffff;
  border-radius: 20px;
  background-color: #40325d;
  color: #fff;
  padding: 15px 25px;
  font-size: 16px;
  resize: none;
}
.process_free_form textarea {
  height: 140px;
}

/* Modal */
.free_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.free_modal_content {
  width: 500px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: relative;
}
.free_modal_content p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  padding: 65px 106px 120px 106px;
  color: #ffffff;
}
.free_modal_wrap {
  display: flex;
  align-items: center;
  gap: 13px;
  position: absolute;
  bottom: 14px;
  right: 12px;
}
.free_modal_wrap button:first-child {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 11px 36px;
  outline: none;
  border: none;
  font-size: 32px;
  line-height: 39px;
  background: #f10000;
  border-radius: 20px;
  color: #ffffff;
}
.free_modal_wrap button:last-child {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 11px 36px;
  outline: none;
  border: none;
  font-size: 32px;
  line-height: 39px;
  background: #00c744;
  border-radius: 20px;
  color: #ffffff;
}
@media only screen and (max-width: 1000px) {
  .process_free_form {
    width: 70%;
  }
  .save-btn {
    font-size: 12px;
    line-height: 29px;
    border-radius: 20px;
    padding: 5px 24px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 750px) {
  .process_free_form {
    width: 100%;
  }
  .save-btn {
    font-size: 14px;
    width: 50%;
    padding: 5px 24px;
    margin: 15px auto;
  }
}
