.teacher_all_video_navbar{
  padding: 18px;
}
.teacher_all_video_navbar_one{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
}
.noactivevideo{
  opacity: 0.6;
}
.teacher_all_video_navbar_one img{
  width: 20px;
}
.videos_navbar_text{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media only screen and (max-width: 550px) {
  .teacher_all_video_navbar{
    padding-top: 0;
  }
}
