
.back1 {
  position: absolute;
  top: -23px;
  left: 0;
  background-color: #574382;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  font-size: 23px;
}

.course_info {
  display: flex;
  gap: 20px;
  margin-top: 0;
  position: relative;
}
.back {
  position: absolute;
  top: 10px;
  left: 27px;
  background-color: #604996;
  border: none;
  outline: none;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.back ion-icon {
  color: #fff;
  font-size: 25px;
}

.videos_navbar {
  height: 100%;
  width: 22vw;
  background: linear-gradient(#564282, #826a91);
  border-radius: 50px;
}
.videos_navbar ul {
  padding: 33px 20px;
}
.videos_navbar ul li {
  padding: 12px 5px 9px 5px;
  border-bottom: 2px solid #ffffff;
  cursor: pointer;
}
.videos_navbar ul li a {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.videos_navbar ul li a.active {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}
.video_information1 {
  background-color: #5b4784;
  width: 71vw;
  min-height: 100%;
  border-radius: 50px;
}
.video_information1 video{
  background-color: #453862;
}

.video_information_content1 {
  padding: 30px 20px 28px 20px;
}
.video_information_content1 h3 {
  margin-top: 16px;
  margin-bottom: 22px;
  padding: 0 10px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
.video_information_content1 p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffffe3;
}
.video_information_scroll1 {
  max-height: 100%;
  overflow-y: scroll;
}
.def2 {
  position: relative;
  display: block;
}
.course_info .mobile-for {
  display: none;
}

.modal-navbar .videos_navbar {
  width: 100%;
  position: absolute;
  animation-name: mobileBurger2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  height: 100%;
}
.qaytish {
  animation-name: mobileBurgerQaytish2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: 0.5s;
}
@keyframes mobileBurger2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes mobileBurgerQaytish2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 900px) {
  .video_information1 .img_div {
    height: auto;
  }
}

@media only screen and (max-width: 850px) {
  .yoq{
    display: none;
  }
  .video_information1 {
    min-height: 90dvh;
  }
  .course_info {
    width: 100%;
  }
  .back1{
    display: none;
  }
  .course_info .mobile-for {
    display: flex;
  }
  .course_info .back {
    display: none;
  }
  .video_information1 {
    width: 100%;
  }
  .def2 {
    position: absolute;
    left: 100%;
    /* transform: translateX(100%); */
  }
  .video_information1 .img_div {
    height: auto;
  }
}

@media only screen and (max-width: 540px){
  .video_information_scroll1 {
    max-height: 88dvh;
    overflow-y: scroll;
  }
  .video_information1 {
    min-height: 88dvh;
  }
  
}
@media only screen and (max-width: 385px){
  .video_information_scroll1 {
    max-height: 86.5dvh;
    overflow-y: scroll;
  }
  .video_information1 {
    min-height: 86.5dvh;
  }
}
