.hisob_wrap {
  position: relative;
  padding: 22px 27px;
}
.back {
  position: absolute;
  top: 22px;
  left: 27px;
  background-color: #48386a;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.back ion-icon {
  color: #fff;
  font-size: 27px;
}
.hisob_form {
  width: 35%;
  margin: 0 auto;
  margin-top: 80px;
  position: relative;
  height: 65dvh;
}
.hisob_form button {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding: 4px 55px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 30px;
  background-color: #48386a;
  outline: none;
  border: none;
  display: block;
  margin: 0 auto;
  color: #ffffff;
  cursor: pointer;
}
.input_wrap {
  width: 100%;
  margin-bottom: 36px;
}
.input_wrap label,
.label_wrap label {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  display: block;
  padding: 5px 20px;
}
.label_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input_div {
  background-color: #48386a;
  width: 100%;
  border-radius: 20px;
  padding: 23px 25px 2px 25px;
}
.input_div input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ffffff;
  outline: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}
.input_div input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
@media only screen and (max-width: 1200px){
  .hisob_form {
    width: 50%;
  }
}
@media only screen and (max-width: 1000px){
  .hisob_form {
    width: 70%;
  }
}
@media only screen and (max-width: 650px){
  .hisob_form {
    width: 90%;
  }
}
@media only screen and (max-width: 450px){
  .hisob_form {
    width: 100%;
  }
}
@media only screen and (max-width: 850px){
  .hisob_form button {
    margin-top: 150px;
  }
  .hisob_form {
    height: 80dvh;
  }
  .hisob_form button {
    font-size: 20px;
  }
  .input_wrap {
    width: 100%;
    margin-bottom: 36px;
  }
  .input_wrap label,
  .label_wrap label {
    font-size: 17px;
  }
  .input_div input {
    font-size: 17px;
  }
  .input_div input::placeholder {
    font-size: 17px;
  }
  .input_div {
    padding: 10px 25px 2px 25px;
  }
}
@media only screen and (max-width: 540px){
  .input_wrap label,
  .label_wrap label {
    font-size: 15px;
  }
}