.lesson_btn_wrap {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #5a4683;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: -15px;
}
.lesson_btn_wrap ion-icon {
  color: #fff;
  font-size: 27px;
}
@keyframes mobileBurger {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes mobileBurgerQaytish {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.course_info {
  display: flex;
  gap: 20px;
  position: relative;
  padding-top: 5dvh;
}
.back {
  position: absolute;
  top: 10px;
  left: 27px;
  background-color: #604996;
  border: none;
  outline: none;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.back ion-icon {
  color: #fff;
  font-size: 25px;
}

.videos_navbar {
  height: 85dvh;
  width: 22vw;
  background: linear-gradient(#564282, #826a91);
  border-radius: 50px;
}
.videos_navbar ul {
  padding: 33px 20px;
}
.videos_navbar ul li {
  padding: 12px 5px 9px 5px;
  border-bottom: 2px solid #ffffff;
  cursor: pointer;
}
.videos_navbar ul li a {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.videos_navbar ul li a.active {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}
.video_information {
  background-color: #5b4784;
  width: 71vw;
  min-height: 85dvh;
  border-radius: 50px;
}

.video_information video {
  background-color: #453862;
}

.img_div video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px 50px 0px 0px;
}

.video_information_content {
  padding: 25px 20px 20px 20px;
}
.video_information_content h3 {
  margin-bottom: 22px;
  padding: 0 10px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
.video_information_content p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.video_information_scroll {
  max-height: 87dvh;
  overflow-y: scroll;
}
.def2 {
  position: relative;
  display: block;
}
.course_info .mobile-for {
  display: none;
}
.modal-navbar .videos_navbar {
  width: 100%;
  position: absolute;
  /* left: -400%; */
  animation-name: mobileBurger;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: 2s;
}
.qaytish {
  animation-name: mobileBurgerQaytish;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: 2s;
}
@media only screen and (max-width: 1200px) {
  .course_info {
    padding-top: 3dvh;
  }
}
@media only screen and (max-width: 900px) {
  .video_information .img_div {
    height: auto;
  }
}

@media only screen and (max-width: 850px) {
  .course_info {
    padding-top: 0;
  }
  .lesson_btn_wrap {
    display: none;
  }
  .btn_wrap {
    display: none;
  }
  .course_info {
    width: 100%;
  }
  .course_info .mobile-for {
    display: flex;
  }
  .course_info .back {
    display: none;
  }
  .video_information {
    width: 100%;
  }
  .def2 {
    position: absolute;
    left: -100%;
  }
  .video_information .img_div {
    height: auto;
  }
}
