.fragment_video_download .back, .kurs_yuklash .back {
  position: absolute;
  top: 22px !important;
  left: 27px !important;
  background-color: #48386a;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.back ion-icon {
  color: #fff;
  font-size: 27px;
}
.course_download_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

._plus_btn_idk4j_277 {
  height: 24px;
  width: 24px;
  padding: 0;
}
.kurs_yuklash {
  position: relative;
  padding: 0 20px;
  height: 100%;
}

.kurs_yuklash h1 {
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  padding-top: 50px;
  margin-bottom: 10px;
  color: #ffffff;
}
.kurs_yuklash_form {
  margin-top: 25px;
  width: 60%;
  margin: 0 auto;
}
.input_file img {
  border-radius: 20px;
}
.input_file {
  position: relative;
  cursor: pointer;
  color: #fff;
  text-align: center;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1.5px solid #ffffff;
  border-radius: 20px;
  background-color: #40325d;
}
.input_file p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  padding-top: 15px;
}
.input_file input {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.video_download_input_desc {
  padding: 5px 10px;
  color: #fff;
  outline: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  background-color: #40325d;
  width: 60%;
}
.video_download_input_title {
  padding: 5px 10px;
  color: #fff;
  outline: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  background-color: #40325d;
  width: 40%;
}
.video_download_input::placeholder {
  color: #ccc;
}
.input_wrap input,
.input_wrap textarea {
  padding: 6px 20px;
  color: #fff;
  outline: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  width: 100%;
  border: 1.5px solid #ffffff;
  border-radius: 20px;
  background-color: #40325d;
  resize: none;
}
.input_wrap textarea {
  height: 100px;
}
.input_wrap {
  margin-bottom: 15px;
}
.input_wrap label {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 0 20px;
  color: #ffffff;
}
.second {
  background-color: #40325d;
  padding: 5px 10px;
  width: 100%;
  outline: none;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
}
.upload_div {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}
.upload_imgtreeler {
  display: flex;
  gap: 15px;
}
.videos {
  width: 89%;
  display: flex;
  flex-direction: column;
  gap: 11px;
  height: 250px;
  overflow-y: scroll;
  border-radius: 15px;
}
.videos::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
.videos::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.videos::-webkit-scrollbar-thumb {
  background: #bbb;
  width: 50px;
  border-radius: 10px;
}
.videos::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.video_download {
  color: #fff;
  padding: 11px 20px;
  display: grid;
  grid-template-areas: "text input input input input button";
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0px;
  border: 1.5px solid #ffffff;
  border-radius: 20px;
  background-color: #40325d;
}

.video_download p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  grid-area: text;
}

.down_btn {
  display: block;
  background-color: #2d2341;
  color: #fff;
  outline: none;
  border: 1px solid #aaa;
  padding: 10px 100px;
  font-size: 16px;
  border-radius: 20px;
}
.plus_btn {
  display: block;
  width: 35px;
  height: 35px;
  background-color: #2d2341;
  color: #fff;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.plus_btn ion-icon {
  font-size: 30px;
  color: #fff;
}

.extra_div {
  display: flex;
  align-items: center;
  gap: 13px;
  width: 10%;
}

.amount {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  width: 50%;
  margin-top: 20px;
}
.style_wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.kurs_yuklash .btn {
  font-family: sans-serif;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #ffffff;
  background-color: #40325dff;
  border-radius: 15px;
  padding: 12px 24px;
  display: block;
  margin: 0px auto;
  margin-top: 40px;
}
.plus_minus {
  display: flex;
  align-items: center;
  gap: 10px;
}

.free_video_lesson_download {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  padding: 5px 100px;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: #2d2341;
}

/* Modal */
.free_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.free_modal_content {
  width: 40%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: relative;
  padding: 65px 20px 100px 20px;
}
.free_modal_content p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}
.free_modal_wrap {
  display: flex;
  align-items: center;
  gap: 13px;
  position: absolute;
  bottom: 14px;
  right: 12px;
}
.free_modal_wrap button:first-child {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 11px 36px;
  outline: none;
  border: none;
  font-size: 32px;
  line-height: 39px;
  background: #f10000;
  border-radius: 20px;
  color: #ffffff;
}
.free_modal_wrap button:last-child {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 11px 36px;
  outline: none;
  border: none;
  font-size: 32px;
  line-height: 39px;
  background: #00c744;
  border-radius: 20px;
  color: #ffffff;
}

.free_video_input_wrapper {
  grid-area: input;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}
.free_video_input_wrapper input:first-child {
  width: 40%;
}
.free_video_input_wrapper input:last-child {
  width: 60%;
}
.free_video_button_wrapper {
  display: flex;
  grid-area: button;
  align-items: center;
  gap: 10px;
}
.muqova_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.file_input_wrap input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  opacity: 0;
}

@media only screen and (max-width: 1000px) {
  .kurs_yuklash_form {
    width: 70%;
  }
  .free_modal_content {
    width: 60%;
  }
  .free_modal_content p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: #ffffff;
  }

  .free_modal_wrap button:first-child {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 5px 15px;
    outline: none;
    border: none;
    font-size: 18px;
    line-height: 39px;
    background: #f10000;
    border-radius: 10px;
    color: #ffffff;
  }
  .free_modal_wrap button:last-child {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 5px 15px;
    outline: none;
    border: none;
    font-size: 18px;
    line-height: 39px;
    background: #00c744;
    border-radius: 10px;
    color: #ffffff;
  }
  .style_wrap {
    width: 50%;
  }
  .muqova_wrapper {
    flex-direction: row;
  }
  .upload_div {
    flex-direction: column;
    gap: 0px;
  }
  .input_wrap input,
  .input_wrap textarea {
    padding: 5px 20px;
    font-size: 14px;
  }
  .input_wrap textarea {
    height: auto;
  }
  .input_wrap {
    margin-bottom: 10px;
  }
  .input_wrap label {
    font-size: 16px;
  }
  .kurs_yuklash .btn {
    font-size: 12px;
    line-height: 29px;
    border-radius: 20px;
    padding: 5px 24px;
    cursor: pointer;
  }
  .video_download {
    padding: 5px 10px;
  }

  .video_download p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    padding-top: 15px;
    color: #ffffff;
  }
}
@media only screen and (max-width: 750px) {
  .kurs_yuklash_form {
    width: 100%;
  }
  .input_file {
    width: 100%;
    height: 120px;
  }
  .amount {
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
  }
  .file_input_wrap {
    font-size: 14px;
  }
  .free_video_input_wrapper input:first-child {
    width: 100%;
  }
  .free_video_input_wrapper input:last-child {
    width: 100%;
  }
  .kurs_yuklash .btn {
    font-size: 14px;
    padding: 5px 24px;
    margin: 15px auto;
  }
  .videos {
    width: 100%;
    height: auto;
    overflow: auto;
  }
  .video_download {
    padding: 5px;
    display: grid;
    grid-template-areas:
      "text input input input input input"
      "text button button button button button";
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
  }
  .free_video_input_wrapper {
    flex-direction: column;
  }
  .video_download_input_title {
    width: 100%;
    padding: 5px;
    font-size: 15px;
    line-height: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
  }
  .video_download_input_desc {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
  }
  .free_modal_content {
    width: 90%;
  }
  .free_modal_content p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: #ffffff;
  }

  .free_modal_wrap button:first-child {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 5px 15px;
    outline: none;
    border: none;
    font-size: 18px;
    line-height: 39px;
    background: #f10000;
    border-radius: 10px;
    color: #ffffff;
  }
  .free_modal_wrap button:last-child {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 5px 15px;
    outline: none;
    border: none;
    font-size: 18px;
    line-height: 39px;
    background: #00c744;
    border-radius: 10px;
    color: #ffffff;
  }
}
