@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(#8d6cd7, #d2aae8);
  color: #fff;
  font-family: sans-serif;
}
#root {
  height: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}
button {
  outline: none;
  cursor: pointer;
}
img {
  object-fit: cover;
}
::-webkit-scrollbar {
  width: 1px;
}
.error_message {
  color: #fb4d4d;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 16px;
  display: block;
  text-align: start !important;
}
.error_message_2 {
  color: #fb4d4d;
  margin-bottom: 12px;
  font-size: 16px;
  display: block;
  text-align: start !important;
}
.homepage {
  display: flex;
}

.w100 {
  max-height: 100%;
  overflow-y: scroll;
}

.fife {
  height: 100%;
}

.teacherHomePage {
  width: 100%;
  position: relative;
}
button {
  cursor: pointer;
}

.global_wrap {
  background-color: #5b4784;
  width: 100%;
  margin: 0 auto;
  height: 90dvh;
  box-shadow: 15px 15px 100px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

/* navbar menu */
.responsive_header {
  margin-bottom: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
  display: none;
}
.menubar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5b4784;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menubar ion-icon {
  font-size: 30px;
}
.header_desc {
  padding: 11px 75px;
  background-color: #5b4784;
  box-shadow: 15px 15px 100px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}
.header_desc p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}
.app-content {
  padding: 34px 43.5px;
  box-sizing: border-box;
  height: 100dvh;
  overflow: hidden;
}
.mobile_width_class {
  width: 92%;
}
.mobile_none .mobile-for {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .app-content {
    padding: 34px 36px;
  }
}

@media only screen and (max-width: 1100px) {
  .app-content {
    padding: 34px 30px;
  }
}
@media only screen and (max-width: 990px) {
  .app-content {
    padding: 34px 28px;
  }
}
@media only screen and (max-width: 900px) {
  .app-content {
    padding: 34px 23px;
  }
}
@media only screen and (max-width: 850px) {
  .mobile_width_class {
    width: 92%;
  }
  .error_message {
    margin-left: 10px;
    font-size: 14px;
  }
  .error_message_2 {
    color: #fb4d4d;
    margin-bottom: 10px;
    font-size: 14px;
    display: block;
    text-align: start !important;
  }
  .fife {
    height: 90dvh;
  }
  .w100 {
    max-height: 100dvh;
  }
  .global_wrap {
    height: 100%;
  }
  .modal-navbar {
    height: 100%;
  }
  .modalDarslar {
    height: 100%;
  }
  .modalDarslar .Nav {
    height: 100%;
  }
  .mobile_none .mobile-for {
    display: flex;
  }
  .homepage {
    display: block;
    width: 100%;
  }
  .app-content {
    padding: 20px 45px;
    background-color: transparent;
  }
}
@media only screen and (max-width: 850px) {
  .teacherHomePage {
    height: 86.5dvh;
  }
  .app-content {
    padding: 20px 25px;
    background-color: transparent;
  }
}
@media only screen and (max-width: 540px) {
  .app-content {
    padding: 20px 10px;
  }
  .mobile_width_class {
    width: 85%;
  }
}

@media only screen and (max-width: 450px) {
  .responsive_header {
    display: flex;
  }
  .app-content {
    padding: 10px;
  }
  .teacherHomePage {
    width: 100%;
  }
}

@media only screen and (max-width: 385px) {
  .fife {
    height: 86.5dvh;
  }
}
