.profile-buttons {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}
.profile-buttons button {
  width: 145px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  border-radius: 20px;
  background-color: #372b4f;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 7px 0px;
}

.profile-content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #5b4784;
  border-radius: 50px;
  text-align: center;
}
.profile_img_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_img_wrapper img {
  margin-top: 41px;
  width: 205px;
  height: 205px;
  border-radius: 50%;
  margin-bottom: 22px;
}
.profile-content h1 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
}

.profile-content-para {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 145px;
}
.profile-content-para p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
@media only screen and (max-width: 850px) {
  .profile-content {
    height: 89.2dvh;
  }
}
@media only screen and (max-width: 540px) {
  .profile-content-para p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  .profile-content img {
    margin-top: 70px;
    width: 155px;
    height: 155px;
  }
  .profile-content h1 {
    font-size: 20px;
    line-height: 39px;
    margin-bottom: 25px;
  }
  .profile-content-para {
    margin-bottom: 85px;
  }
}
@media only screen and (max-width: 385px) {
  .profile-content {
    height: 86.5dvh;
  }
}
