.landing_footer {
  padding: 80px 40px 30px 40px;
  font-weight: 600;
  color: rgba(0, 34, 255, 1);
}
.landing_footer_content {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 25px;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.landing_footer_content a {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 20px;
}
.landing_footer_middle {
  display: flex;
  gap: 80px;
}
.first_width{
  width: 120px;
}
.second_width{
  width: 300px;
}
.landing_footer_middle_first {
  display: flex;
  flex-direction: column;
}
.landing_footer_middle_first a{
  color: rgba(0, 34, 255, 1);
  transition: all 0.3s ease;
}
.landing_footer_middle_first a:hover{
  color: rgb(18, 36, 150);
  padding-left: 7px;
}
.landing_footer_number p {
  margin-bottom: 10px;
}
.landing_footer_bottom {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  color: rgba(0, 34, 255, 1);
}
.landing_footer_bottom span {
  font-weight: 800;
}
@media (max-width: 1225px) {
  .landing_footer_logo img{
    width: 200px;
  }
  .landing_footer_content {
    justify-content: space-between;
    gap: 10px;
  }
  .landing_footer {
    padding: 70px 20px;
  }
  .landing_footer_middle {
    gap: 25px;
  }
}
@media (max-width: 985px) {
  .landing_footer {
    padding: 50px 20px;
  }
  .landing_footer_logo img{
    width: 350px;
  }
  .landing_footer_content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .landing_footer_number {
    justify-self: center;
  }
  .landing_footer_logo {
    justify-self: center;
  }
}
@media (max-width: 550px) {
  .landing_footer_content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .landing_footer_number {
    justify-self: center;
  }
  .landing_footer_logo {
    justify-self: center;
  }
  .landing_footer_logo img {
    width: 240px;
  }
  .first_width{
    width: 95px;
  }
  .second_width{
    width: 225px;
  }
  .landing_footer_content a,
  .landing_footer_number p,
  .landing_footer_bottom {
    font-size: 12px;
    font-weight: 600;
  }
  .landing_footer {
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 15px;
  }
  .landing_footer_middle {
    gap: 5px;
  }
  .landing_footer_bottom {
    margin-top: 20px;
  }
}
